# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# Virtual environment
venv/
.env

# Pytest and coverage reports
reports/
*.xml
*.html
*.htmlcov/

# IDE / editor
.vscode/
.idea/
*.swp
